<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Identifícate</title>
        <title>Regístrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">


    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                </div>
                <form class="form" action="/" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <div class="submit"><i class="fa fa-search"></i></div>
                </form>
                <div class="cuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y las tarjetas de crédito
                </div>
                </div>
                <div class="lower-header">
                    <nav class="izquierda"> 
                        <ul>
                            <li>
                                <a href="#">Ofertas</a>
                            </li>
                            <li>
                                <a href="#">Tiendas Oficiales</a>
                            </li>
                            <li>
                                <a href="#">Vender</a>
                            </li>
                            <li>
                                <a href="#">Ayuda</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="derecha"> 
                        <ul>
                            <li>
                                <a href="/register">Creá tu cuenta</a>
                                <i class="fa-regular fa-id-card"></i>
                            </li>
                            <li>
                                <a href="/login">Ingresá</a>
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </li>
                            <li>
                                <a href="#">Mis compras</a>
                                <i class="fa-solid fa-basket-shopping"></i>
                            </li>
                        </ul>
                    </nav>
                </div>    
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
        </header>
        <main>
            <form action="/" method="GET">   
                <!-- Aquí van los campos -->
                <div class="login"><input type="text" name="usuario" placeholder="Nombre de usuari@" required oninvalid="this.setCustomValidity('Tu usuario no coincide con un registro valido')"></div>
                <div class="login"><input type="password" name="contraseña" placeholder="Contraseña" required oninvalid="this.setCustomValidity('Tu contraseña es inválida')"></div>
                <div class="botonLogin">
                    <button type="submit">Enviar</button>
                </div>
                    
                
    
            </form>
        </main>
        <footer>
            <div class="pie-pagina">
                <div class="tarjeta_efectivo">
                    <section>
                        <i class="fa-solid fa-credit-card"></i>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                        </p>
                    </section>
                </div> 
                <div class="envio_gratis"> 
                    <section>
                        <i class="fa-solid fa-gift"></i>
                        <h3>Envío gratis desde $ 2.700</h3>
                        <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                        </p>
                    </section>
                </div> 
                <div class="seguridad">
                    <section>
                        <i class="fa-solid fa-user-shield"></i>
                        <h3>Seguridad, de principio a fin</h3>
                        <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                        </p>
                    </section> 
                </div>
                <div class="copyright">
                    <section>
                        <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                    </section> 
                </div>
            </div>
    
        </footer>
        
    </body>
</html>

        