<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Regístrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/registro" method="POST">   
                <!-- Aquí van los campos -->

                    <input type="text" name="nombreApellido" placeholder="Nombre y apellido"><br>
                    <input type="text" name="usuario" placeholder="Nombre de usuari@">
                    <span class="feedback">El nombre de usuario debe poseer al menos 8 caracteres alfanumėricos</span><br>
                    <input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento"><br>
                    <input type="text" name="domicilio" placeholder="Domicilio"><br>
                
                    <label>Compra</label>
                    <input type="radio" name="compraVende">
                    <label>Vende</label>
                    <input type="radio" name="compraVende"><br>
                    <h3>
                        <label>Categorías de interés (puede elegir más de una)</label><br>
                    </h3>

                    <label>Electro</label>
                    <input type="checkbox" name="categorias"><br>
            
                    <label>Moda</label>
                    <input type="checkbox" name="categorias"><br>
                 
                    <label>Juguetería</label>
                    <input type="checkbox" name="categorias"><br>    

                    <label>Vida sana</label>
                    <input type="checkbox" name="categorias"><br>

                    <label>Foto de usuario</label>
                    <input type="file" name="fotoUsuario"><br>
                   
                    <input type="password" name="contraseña" placeholder="Contraseña"><br>
                
                    <input type="password" name="confirmarContraseña" placeholder="Confirmar Contraseña"> <br>  

                    <div class="botones">
                        <p><button type="reset">Cancelar</button></p> 
                        <p><button type="submit">Enviar</button></p>
                    </div>

                
    
            </form>
        </main>

        <footer>    
        </footer>
        
    </body>
</html>

        